<%= render "shared/header" %>
  
<div class="contents
<% case params[:game_title_id] %>
<% when nil then %>
  gameback10
<% when "1" then %>
  gameback1
<% when "2" then %>
  gameback2
<% when "3" then %>
  gameback3
<% end %>">
  <%= render "shared/left-side-bar" %>

  <div class="tweet-content">
    <%# @game_tweets.each do |tweet| %>
    <div class="content_post" >
      <div class="lower-message">
        <div class="message-content">
          おはよう
        </div>
      </div>
      <div class="user-name">
        Tom
      </div>
    </div>
    <%# end %>
    <%= form_with model: @game_tweet, url:game_tweets_path(game_title_id: params[:game_title_id]), class: "tweet-footer", local: true do |f| %>
      <div class="tweet-form">
        <%= f.text_field :tweet, class:"form-message", placeholder: "type a message" %> 
      </div>
      <%= f.submit "送信", class:"form-submit" %>
    <% end %>
  </div>

  <%= render "shared/right-side-bar" %>
</div>