<div class='left-side-bar'>
  <div class='user-contents'>

    <% if user_signed_in? && params[:game_title_id] != nil %>
      <% unless @game.exists?(user_id: current_user.id) %>
        <%= link_to new_game_path(game_title_id: params[:game_title_id]), class: 'purchase-btn' do %>
        <%= image_tag 'icon_game.png' , size: '185x50' ,class: "purchase-btn-icon" %>
        <% end %>
      <% else %>
        <div class='player-date'>
          <%= image_tag @mygame.image, class: 'chara-img' %>
          <div class='player-info'>
            <h3 class='player-name'>
            プレイヤー名：
              <%= @mygame.player_name %>
            </h3>
            <div class='player-rank'>
            ランク：
              <%= @mygame.rank %>
            </div>
            <div class='player-clan'>
            クラン名：
              <%= @mygame.clan %>
            </div>
            <div class='player-style'>
            プレイスタイル：
              <%= @mygame.playstyle %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>