<%= render "shared/header" %>
  
<div class="contents">
  <%= render "shared/left-side-bar" %>

  <div class="game-index">
    <%= image_tag("grablulogo.png",class: 'logo-img')  %>
    <%= image_tag("priconelogo.png",class: 'logo-img')  %>
    <div class="gameback3">ウマ娘プリティーダービー</div>
  </div>

  <%= render "shared/right-side-bar" %>
</div>