<%= render "shared/header" %>
  
<div class="contents
<% case params[:game_title_id] %>
<% when nil then %>
  gameback10
<% when "1" then %>
  gameback1
<% when "2" then %>
  gameback2
<% when "3" then %>
  gameback3
<% end %>">
  <%= render "shared/left-side-bar" %>

  <div class="main-content">
    <ul class="game-index">
      <% GameTitle.all.each do |game_title| %>
        <li class="game-content">
          <%= link_to games_path(game_title_id: game_title.id) do %>
              <%= image_tag game_title.image_path, class: 'logo-img'  %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render "shared/right-side-bar" %>
</div>